
Tests/Backup/

houdiniStubsGenerator/

Tests/sop_tubepythonstates.hdanc

Files/Backup/

Files/sop_tubepythonstates.hdanc

Files/DefaultPyProject/backup/

Files/DefaultPyProject/scripts/python/__pycache__/

Files/Scripts/__pycache__/

Files/DefaultPyProject/scripts/python/DEFAULT_SCRIPTS/__pycache__/

*.onnx
